In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('Project_Data.xlsx')
df.head()

  Unnamed: 0  Q1    Q2   Q3   Q4   Q5 Total
0    Abbas H   1     0  0.0  0.5    0   1.5
1      Ali A  -2     2  2.5    1    3   6.5
2     Ali Gh   1     0  0.5    0    2   3.5
3      Ali K   2     2  1.0  NAN    4   NAN
4      Ali P   0  1.75  1.0    1  0.5  4.25

In [4]:
df = pd.read_excel('Project_Data.xlsx')

# Store the maximum values row separately
max_row = df.iloc[-1]

# Drop the last row and the empty row before it
df = df.dropna().iloc[:-1]

max_row

Unnamed: 0    MAX
Q1              2
Q2              2
Q3            2.0
Q4              4
Q5              5
Total          15
Name: 42, dtype: object

# PART 1

In [5]:
# Convert columns Q1 through Total to numeric
columns_to_convert = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Total'] 
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5  Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.50
1          Ali A -2.0  2.00  2.50  1.00  3.0   6.50
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.50
3          Ali K  2.0  2.00  1.00   NaN  4.0    NaN
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.25
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.25
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.00
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.50
8     Amirsina M  1.0  3.00  1.00  1.50  3.0   9.50
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.75
10      Fateme R  0.0  1.00  0.00  0.00  0.0   1.00
11      Fateme Z  2.0  2.00  1.00  0.50  3.0   8.50
12       Hesam M  0.0  2.00  1.00  1.00  0.0   4.00
13       Jafar H  2.0  1.50  0.00  0.00  0.0   3.50
14       Javad R  2.0  2.00  1.00  3.75  3.5  12.25
15       Kazem B  2.0  2.00  0.50  1.00  0.5   6.00
16       Leyla F  1.0  2.00  1.00  0.00  1.0   5.00
17       Mahla R  2.0  2.00  1.00  4.00  2.5  11.50
18      Mammad A  2.0  1.50  1.00  0.00  3.5   8.00
19     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.50
20  Mammadreza B  2.0   NaN  1.00  1.50  0.0    NaN
21     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.50
22       Negin R  0.0  0.00  1.00  0.00  3.0   4.00
23        Reza B  1.5  2.00  1.00  1.50  2.5  17.00
24        Reza R  0.0  2.00  1.00  1.50  4.0   8.50
25        Reza T  0.5  2.00  2.50  4.00  1.5  10.50
26        Saba S  2.0  1.50  1.25  1.00  2.0   7.75
27       Sahar E  1.5  0.75  2.00  1.00  0.5   5.75
28       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.00
29        Sama K  2.0  1.50  1.00  4.00  2.5  11.00
30        Sina R  0.0  1.00  0.50  0.00  0.0   1.50
31        Sina T  2.0  2.00  1.00  2.00  2.0   9.00
32      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.00
33       Taher S  0.0  0.00  1.00  0.00  1.5   2.50
34        Tara B  NaN  1.50  0.50  4.00  NaN    NaN
35    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.00
36       Zahra B  2.0  1.50  1.00  2.00  4.5  11.00
37       Zahra T  0.5  2.00  1.50  4.00  0.0   8.00
38       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.00
39      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.75
40      Zeynab V  2.0 -1.00  0.50  4.00  1.0   6.50

In [6]:
# Replace NaN values with column-wise median
df[columns_to_convert] = df[columns_to_convert].fillna(df[columns_to_convert].median())
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5   Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.500
1          Ali A -2.0  2.00  2.50  1.00  3.0   6.500
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.500
3          Ali K  2.0  2.00  1.00  1.25  4.0   7.125
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.250
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.250
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.000
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.500
8     Amirsina M  1.0  3.00  1.00  1.50  3.0   9.500
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.750
10      Fateme R  0.0  1.00  0.00  0.00  0.0   1.000
11      Fateme Z  2.0  2.00  1.00  0.50  3.0   8.500
12       Hesam M  0.0  2.00  1.00  1.00  0.0   4.000
13       Jafar H  2.0  1.50  0.00  0.00  0.0   3.500
14       Javad R  2.0  2.00  1.00  3.75  3.5  12.250
15       Kazem B  2.0  2.00  0.50  1.00  0.5   6.000
16       Leyla F  1.0  2.00  1.00  0.00  1.0   5.000
17       Mahla R  2.0  2.00  1.00  4.00  2.5  11.500
18      Mammad A  2.0  1.50  1.00  0.00  3.5   8.000
19     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.500
20  Mammadreza B  2.0  1.50  1.00  1.50  0.0   7.125
21     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.500
22       Negin R  0.0  0.00  1.00  0.00  3.0   4.000
23        Reza B  1.5  2.00  1.00  1.50  2.5  17.000
24        Reza R  0.0  2.00  1.00  1.50  4.0   8.500
25        Reza T  0.5  2.00  2.50  4.00  1.5  10.500
26        Saba S  2.0  1.50  1.25  1.00  2.0   7.750
27       Sahar E  1.5  0.75  2.00  1.00  0.5   5.750
28       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.000
29        Sama K  2.0  1.50  1.00  4.00  2.5  11.000
30        Sina R  0.0  1.00  0.50  0.00  0.0   1.500
31        Sina T  2.0  2.00  1.00  2.00  2.0   9.000
32      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.000
33       Taher S  0.0  0.00  1.00  0.00  1.5   2.500
34        Tara B  1.0  1.50  0.50  4.00  2.0   7.125
35    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.000
36       Zahra B  2.0  1.50  1.00  2.00  4.5  11.000
37       Zahra T  0.5  2.00  1.50  4.00  0.0   8.000
38       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.000
39      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.750
40      Zeynab V  2.0 -1.00  0.50  4.00  1.0   6.500

In [7]:
# Replace values greater than column maximum or less than 0 with column-wise median
for column in columns_to_convert:
    column_max = df[column].max()
    column_median = df[column].median()
    df.loc[(df[column] > column_max) | (df[column] < 0), column] = column_median
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5   Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.500
1          Ali A  1.0  2.00  2.50  1.00  3.0   6.500
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.500
3          Ali K  2.0  2.00  1.00  1.25  4.0   7.125
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.250
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.250
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.000
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.500
8     Amirsina M  1.0  3.00  1.00  1.50  3.0   9.500
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.750
10      Fateme R  0.0  1.00  0.00  0.00  0.0   1.000
11      Fateme Z  2.0  2.00  1.00  0.50  3.0   8.500
12       Hesam M  0.0  2.00  1.00  1.00  0.0   4.000
13       Jafar H  2.0  1.50  0.00  0.00  0.0   3.500
14       Javad R  2.0  2.00  1.00  3.75  3.5  12.250
15       Kazem B  2.0  2.00  0.50  1.00  0.5   6.000
16       Leyla F  1.0  2.00  1.00  0.00  1.0   5.000
17       Mahla R  2.0  2.00  1.00  4.00  2.5  11.500
18      Mammad A  2.0  1.50  1.00  0.00  3.5   8.000
19     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.500
20  Mammadreza B  2.0  1.50  1.00  1.50  0.0   7.125
21     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.500
22       Negin R  0.0  0.00  1.00  0.00  3.0   4.000
23        Reza B  1.5  2.00  1.00  1.50  2.5  17.000
24        Reza R  0.0  2.00  1.00  1.50  4.0   8.500
25        Reza T  0.5  2.00  2.50  4.00  1.5  10.500
26        Saba S  2.0  1.50  1.25  1.00  2.0   7.750
27       Sahar E  1.5  0.75  2.00  1.00  0.5   5.750
28       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.000
29        Sama K  2.0  1.50  1.00  4.00  2.5  11.000
30        Sina R  0.0  1.00  0.50  0.00  0.0   1.500
31        Sina T  2.0  2.00  1.00  2.00  2.0   9.000
32      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.000
33       Taher S  0.0  0.00  1.00  0.00  1.5   2.500
34        Tara B  1.0  1.50  0.50  4.00  2.0   7.125
35    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.000
36       Zahra B  2.0  1.50  1.00  2.00  4.5  11.000
37       Zahra T  0.5  2.00  1.50  4.00  0.0   8.000
38       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.000
39      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.750
40      Zeynab V  2.0  1.50  0.50  4.00  1.0   6.500

In [8]:
# Calculate the sum of Q1 to Q5 for each row and update the Total column
df['Total'] = df['Q1'] + df['Q2'] + df['Q3'] + df['Q4'] + df['Q5']

# Find the maximum value in the Total column
max_total = df['Total'].max()

# Drop rows where the Total value is greater than max_total
df = df[df['Total'] <= max_total]
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5  Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.50
1          Ali A  1.0  2.00  2.50  1.00  3.0   9.50
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.50
3          Ali K  2.0  2.00  1.00  1.25  4.0  10.25
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.25
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.25
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.00
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.50
8     Amirsina M  1.0  3.00  1.00  1.50  3.0   9.50
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.75
10      Fateme R  0.0  1.00  0.00  0.00  0.0   1.00
11      Fateme Z  2.0  2.00  1.00  0.50  3.0   8.50
12       Hesam M  0.0  2.00  1.00  1.00  0.0   4.00
13       Jafar H  2.0  1.50  0.00  0.00  0.0   3.50
14       Javad R  2.0  2.00  1.00  3.75  3.5  12.25
15       Kazem B  2.0  2.00  0.50  1.00  0.5   6.00
16       Leyla F  1.0  2.00  1.00  0.00  1.0   5.00
17       Mahla R  2.0  2.00  1.00  4.00  2.5  11.50
18      Mammad A  2.0  1.50  1.00  0.00  3.5   8.00
19     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.50
20  Mammadreza B  2.0  1.50  1.00  1.50  0.0   6.00
21     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.50
22       Negin R  0.0  0.00  1.00  0.00  3.0   4.00
23        Reza B  1.5  2.00  1.00  1.50  2.5   8.50
24        Reza R  0.0  2.00  1.00  1.50  4.0   8.50
25        Reza T  0.5  2.00  2.50  4.00  1.5  10.50
26        Saba S  2.0  1.50  1.25  1.00  2.0   7.75
27       Sahar E  1.5  0.75  2.00  1.00  0.5   5.75
28       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.00
29        Sama K  2.0  1.50  1.00  4.00  2.5  11.00
30        Sina R  0.0  1.00  0.50  0.00  0.0   1.50
31        Sina T  2.0  2.00  1.00  2.00  2.0   9.00
32      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.00
33       Taher S  0.0  0.00  1.00  0.00  1.5   2.50
34        Tara B  1.0  1.50  0.50  4.00  2.0   9.00
35    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.00
36       Zahra B  2.0  1.50  1.00  2.00  4.5  11.00
37       Zahra T  0.5  2.00  1.50  4.00  0.0   8.00
38       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.00
39      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.75
40      Zeynab V  2.0  1.50  0.50  4.00  1.0   9.00

outlier

In [9]:
# Detect outliers using IQR method with a threshold of 2.5
for column in columns_to_convert:
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    threshold = 2.5 * iqr
    df.loc[(df[column] < q1 - threshold) | (df[column] > q3 + threshold), column] = df[column].median()
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5  Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.50
1          Ali A  1.0  2.00  1.00  1.00  3.0   9.50
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.50
3          Ali K  2.0  2.00  1.00  1.25  4.0  10.25
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.25
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.25
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.00
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.50
8     Amirsina M  1.0  3.00  1.00  1.50  3.0   9.50
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.75
10      Fateme R  0.0  1.00  0.00  0.00  0.0   1.00
11      Fateme Z  2.0  2.00  1.00  0.50  3.0   8.50
12       Hesam M  0.0  2.00  1.00  1.00  0.0   4.00
13       Jafar H  2.0  1.50  0.00  0.00  0.0   3.50
14       Javad R  2.0  2.00  1.00  3.75  3.5  12.25
15       Kazem B  2.0  2.00  0.50  1.00  0.5   6.00
16       Leyla F  1.0  2.00  1.00  0.00  1.0   5.00
17       Mahla R  2.0  2.00  1.00  4.00  2.5  11.50
18      Mammad A  2.0  1.50  1.00  0.00  3.5   8.00
19     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.50
20  Mammadreza B  2.0  1.50  1.00  1.50  0.0   6.00
21     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.50
22       Negin R  0.0  0.00  1.00  0.00  3.0   4.00
23        Reza B  1.5  2.00  1.00  1.50  2.5   8.50
24        Reza R  0.0  2.00  1.00  1.50  4.0   8.50
25        Reza T  0.5  2.00  1.00  4.00  1.5  10.50
26        Saba S  2.0  1.50  1.25  1.00  2.0   7.75
27       Sahar E  1.5  0.75  2.00  1.00  0.5   5.75
28       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.00
29        Sama K  2.0  1.50  1.00  4.00  2.5  11.00
30        Sina R  0.0  1.00  0.50  0.00  0.0   1.50
31        Sina T  2.0  2.00  1.00  2.00  2.0   9.00
32      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.00
33       Taher S  0.0  0.00  1.00  0.00  1.5   2.50
34        Tara B  1.0  1.50  0.50  4.00  2.0   9.00
35    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.00
36       Zahra B  2.0  1.50  1.00  2.00  4.5  11.00
37       Zahra T  0.5  2.00  1.50  4.00  0.0   8.00
38       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.00
39      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.75
40      Zeynab V  2.0  1.50  0.50  4.00  1.0   9.00

In [10]:
df_preprocessed = df.copy()

preprocess finished

# PART 2

move mean to 0 and make std 1

In [11]:
# Select columns Q1 to Total
columns_to_scale = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Total']

df_scaled = df_preprocessed.copy()
# Calculate the mean and standard deviation of each column
column_means = df_scaled[columns_to_scale].mean()
column_stds = df_scaled[columns_to_scale].std()

# Subtract the column means from each column
df_scaled[columns_to_scale] -= column_means

# Divide each column by its standard deviation
df_scaled[columns_to_scale] /= column_stds

df_scaled

      Unnamed: 0        Q1        Q2        Q3        Q4        Q5     Total
0        Abbas H -0.177720 -1.770079 -1.875714 -0.784218 -1.054838 -1.592762
1          Ali A -0.177720  0.754208  0.260516 -0.465872  0.608560  0.668822
2         Ali Gh -0.177720 -1.770079 -0.807599 -1.102563  0.054094 -1.027366
3          Ali K  1.036701  0.754208  0.260516 -0.306699  1.163027  0.880845
4          Ali P -1.392142  0.438672  0.260516 -0.465872 -0.777605 -0.815342
5      Amirali B -0.784931 -1.770079 -1.341657  0.489165  3.380891  1.163543
6     Amirali Gh -1.392142 -1.770079  0.260516 -1.102563 -1.054838 -1.734111
7      Amirali R -0.177720  0.123136  0.260516  1.444203  0.054094  0.668822
8     Amirsina M -0.177720  2.016351  0.260516 -0.147526  0.608560  0.668822
9       Fateme P  1.036701  0.438672  0.260516 -1.102563 -1.054838 -0.673993
10      Fateme R -1.392142 -0.507936 -1.875714 -1.102563 -1.054838 -1.734111
11      Fateme Z  1.036701  0.754208  0.260516 -0.784218  0.608560  0.386124
12       Hesam M -1.392142  0.754208  0.260516 -0.465872 -1.054838 -0.886017
13       Jafar H  1.036701  0.123136 -1.875714 -1.102563 -1.054838 -1.027366
14       Javad R  1.036701  0.754208  0.260516  1.285030  0.885794  1.446241
15       Kazem B  1.036701  0.754208 -0.807599 -0.465872 -0.777605 -0.320621
16       Leyla F -0.177720  0.754208  0.260516 -1.102563 -0.500372 -0.603319
17       Mahla R  1.036701  0.754208  0.260516  1.444203  0.331327  1.234218
18      Mammad A  1.036701  0.123136  0.260516 -1.102563  0.885794  0.244775
19     Mammad Gh -0.784931 -1.770079 -1.875714  0.807511 -1.054838 -1.027366
20  Mammadreza B  1.036701  0.123136  0.260516 -0.147526 -1.054838 -0.320621
21     Nazanin R -0.784931 -1.770079  0.260516 -1.102563 -1.054838 -1.592762
22       Negin R -1.392142 -1.770079  0.260516 -1.102563  0.608560 -0.886017
23        Reza B  0.429491  0.754208  0.260516 -0.147526  0.331327  0.386124
24        Reza R -1.392142  0.754208  0.260516 -0.147526  1.163027  0.386124
25        Reza T -0.784931  0.754208  0.260516  1.444203 -0.223139  0.951520
26        Saba S  1.036701  0.123136  0.794573 -0.465872  0.054094  0.174101
27       Sahar E  0.429491 -0.823472  2.396746 -0.465872 -0.777605 -0.391295
28       Sahar Z  1.036701  0.754208  0.260516  0.489165  1.994726  1.658265
29        Sama K  1.036701  0.123136  0.260516  1.444203  0.331327  1.092869
30        Sina R -1.392142 -0.507936 -0.807599 -1.102563 -1.054838 -1.592762
31        Sina T  1.036701  0.754208  0.260516  0.170820  0.054094  0.527473
32      Soheyl T -0.784931  0.754208  1.328631  1.444203  0.608560  1.092869
33       Taher S -1.392142 -1.770079  0.260516 -1.102563 -0.223139 -1.310064
34        Tara B -0.177720  0.123136 -0.807599  1.444203  0.054094  0.527473
35    Yasamin Gh  1.036701  0.123136  0.260516  1.444203  0.885794  1.375567
36       Zahra B  1.036701  0.123136  0.260516  0.170820  1.440260  1.092869
37       Zahra T -0.784931  0.754208  1.328631  1.444203 -1.054838  0.244775
38       Zahra Z  1.036701  0.754208  2.396746 -0.465872  0.054094  0.527473
39      Zeynab I -1.392142 -0.192400 -1.875714  1.444203 -0.777605 -0.391295
40      Zeynab V  1.036701  0.123136 -0.807599  1.444203 -0.500372  0.527473

# PART 3

In [12]:
df_reduced = df_scaled.copy()
# Define the columns to be dropped
columns_to_drop = []


# Loop twice for each column to be dropped
for iteration in range(2):
    # Get all columns except 'Unnamed: 0' and 'Total'
    all_columns = [column for column in df_reduced.columns if column not in ['Unnamed: 0', 'Total']]

    print(f"Iteration {iteration+1}:")
    
    # Calculate the correlation matrix between columns Q1 to Q5
    corr_matrix = df_reduced[all_columns].corr()
    print("Correlation Matrix:")
    print(corr_matrix)
    
    # Find the column pair with the highest covariance
    max_covariance = 0
    max_cov_columns = None
    for i in range(len(corr_matrix.columns)):
        for j in range(i+1, len(corr_matrix.columns)):
            covariance = corr_matrix.iloc[i, j]
            if covariance > max_covariance:
                max_covariance = covariance
                max_cov_columns = (corr_matrix.columns[i], corr_matrix.columns[j])
    print("Max Correlation Columns:", max_cov_columns)
    
    # Calculate the covariance of the two columns with the label column
    label_column = 'Total'  # Replace 'Total' with the actual label column name
    cov1 = df_reduced[max_cov_columns[0]].cov(df_reduced[label_column])
    cov2 = df_reduced[max_cov_columns[1]].cov(df_reduced[label_column])
    print(f"Covariance of {max_cov_columns[0]} with {label_column}: {cov1}")
    print(f"Covariance of {max_cov_columns[1]} with {label_column}: {cov2}")
    
    # Determine the column to be dropped based on the covariance with the label column
    column_to_drop = max_cov_columns[0] if cov1 < cov2 else max_cov_columns[1]
    columns_to_drop.append(column_to_drop)
    print("Column to Drop:", column_to_drop)
    
    # Drop the selected column from the DataFrame if it exists
    if column_to_drop in df_reduced.columns:
        df_reduced = df_reduced.drop(column_to_drop, axis=1)
        print("Dropped Column:", column_to_drop)
    
df_reduced

Iteration 1:
Correlation Matrix:
          Q1        Q2        Q3        Q4        Q5
Q1  1.000000  0.410414  0.217706  0.137434  0.241320
Q2  0.410414  1.000000  0.363128  0.304901  0.157192
Q3  0.217706  0.363128  1.000000  0.035143  0.141017
Q4  0.137434  0.304901  0.035143  1.000000  0.247574
Q5  0.241320  0.157192  0.141017  0.247574  1.000000
Max Covariance Columns: ('Q1', 'Q2')
Covariance of Q1 with Total: 0.5273750911159051
Covariance of Q2 with Total: 0.5990903998456013
Column to Drop: Q1
Dropped Column: Q1
Iteration 2:
Correlation Matrix:
          Q2        Q3        Q4        Q5
Q2  1.000000  0.363128  0.304901  0.157192
Q3  0.363128  1.000000  0.035143  0.141017
Q4  0.304901  0.035143  1.000000  0.247574
Q5  0.157192  0.141017  0.247574  1.000000
Max Covariance Columns: ('Q2', 'Q3')
Covariance of Q2 with Total: 0.5990903998456013
Covariance of Q3 with Total: 0.3573735024777129
Column to Drop: Q3
Dropped Column: Q3

      Unnamed: 0        Q2        Q4        Q5     Total
0        Abbas H -1.770079 -0.784218 -1.054838 -1.592762
1          Ali A  0.754208 -0.465872  0.608560  0.668822
2         Ali Gh -1.770079 -1.102563  0.054094 -1.027366
3          Ali K  0.754208 -0.306699  1.163027  0.880845
4          Ali P  0.438672 -0.465872 -0.777605 -0.815342
5      Amirali B -1.770079  0.489165  3.380891  1.163543
6     Amirali Gh -1.770079 -1.102563 -1.054838 -1.734111
7      Amirali R  0.123136  1.444203  0.054094  0.668822
8     Amirsina M  2.016351 -0.147526  0.608560  0.668822
9       Fateme P  0.438672 -1.102563 -1.054838 -0.673993
10      Fateme R -0.507936 -1.102563 -1.054838 -1.734111
11      Fateme Z  0.754208 -0.784218  0.608560  0.386124
12       Hesam M  0.754208 -0.465872 -1.054838 -0.886017
13       Jafar H  0.123136 -1.102563 -1.054838 -1.027366
14       Javad R  0.754208  1.285030  0.885794  1.446241
15       Kazem B  0.754208 -0.465872 -0.777605 -0.320621
16       Leyla F  0.754208 -1.102563 -0.500372 -0.603319
17       Mahla R  0.754208  1.444203  0.331327  1.234218
18      Mammad A  0.123136 -1.102563  0.885794  0.244775
19     Mammad Gh -1.770079  0.807511 -1.054838 -1.027366
20  Mammadreza B  0.123136 -0.147526 -1.054838 -0.320621
21     Nazanin R -1.770079 -1.102563 -1.054838 -1.592762
22       Negin R -1.770079 -1.102563  0.608560 -0.886017
23        Reza B  0.754208 -0.147526  0.331327  0.386124
24        Reza R  0.754208 -0.147526  1.163027  0.386124
25        Reza T  0.754208  1.444203 -0.223139  0.951520
26        Saba S  0.123136 -0.465872  0.054094  0.174101
27       Sahar E -0.823472 -0.465872 -0.777605 -0.391295
28       Sahar Z  0.754208  0.489165  1.994726  1.658265
29        Sama K  0.123136  1.444203  0.331327  1.092869
30        Sina R -0.507936 -1.102563 -1.054838 -1.592762
31        Sina T  0.754208  0.170820  0.054094  0.527473
32      Soheyl T  0.754208  1.444203  0.608560  1.092869
33       Taher S -1.770079 -1.102563 -0.223139 -1.310064
34        Tara B  0.123136  1.444203  0.054094  0.527473
35    Yasamin Gh  0.123136  1.444203  0.885794  1.375567
36       Zahra B  0.123136  0.170820  1.440260  1.092869
37       Zahra T  0.754208  1.444203 -1.054838  0.244775
38       Zahra Z  0.754208 -0.465872  0.054094  0.527473
39      Zeynab I -0.192400  1.444203 -0.777605 -0.391295
40      Zeynab V  0.123136  1.444203 -0.500372  0.527473